<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">        
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
        <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" />-->
        <link rel="stylesheet" href="static/css/line-login.css" />
        <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script> -->      
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>-->
       <script src="https://static.line-scdn.net/liff/edge/2.1/sdk.js"></script>
        <!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
       <script src="https://www.gstatic.com/firebasejs/4.12.1/firebase.js"></script>       
        <title>LINE Web Login</title>
    </head>
    <body>
		 <div class="container">
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <div class="area">
            <h4 class="text-center area-margin">歡迎使用註冊服務</h4>
            <h4 class="text-center area-margin">點選網站登入</h4>
            <div id="web-login-button" class="center-block area-margin">
              <a class="center-block" href="javascript:void(0)" onclick="myJsFunc();"></a>
            </div>
          </div>
        </div>
      </div>
    </div>       
      
        <script>          
			var YourLiffAppId = '1654118646-p8bGlZy2'; 
			initializeLiff(YourLiffAppId); // 初始化 LIFF              
			var firebaseConfig = {
				apiKey: "AIzaSyAG501H9o5I_q-2lLKei5aDUBsJQrigxmQ",
				authDomain: "line-bot-test-77a80.firebaseapp.com",
				databaseURL: "https://line-bot-test-77a80.firebaseio.com"					
            };
            firebase.initializeApp(firebaseConfig);
            var db = firebase.database();   
            var host = 'https://liff.line.me/1654118646-4ANQr5B3'// 機器人網址
            var host_register = host + '/register' // 註冊網址
            var db_ref_path = "smarthome-bot/"; // firebase 資料庫基本路徑  
              // Initialize Firebase                                     
			$(document).ready(function(){
			//   initializeLiff(YourLiffAppId); // 初始化 LIFF  		                    
            });
            var userId;           
                      
            function myJsFunc(){								
				liff.getProfile().then(function(profile){
                    //顯示在text box中
                    //userId = profile.userId; //取得用戶 userId
                    picUrl = profile.pictureUrl; //取得用戶圖片
                    lineName = profile.displayName;//取得用戶 LINE 名稱                                                                                
                    }); 
                    //檢查用戶資料庫路徑是否存在               
                 db.ref(db_ref_path+userId).on("value", snapshot => {
                    if (!snapshot.exists()){									  
					  var user_profile = {"userId": userId, "line_name":lineName,
						   "picurl": picUrl, "LineNotify":""}                     
                      var singerList = ["鋼琴音樂"]                     
                      //alert(picurl)                               
                      db.ref(db_ref_path+userId+'/profile').set(user_profile) // 增加資料
                      db.ref(db_ref_path+userId+'/youtube_music').set({'volume':60})
					  db.ref(db_ref_path+userId+'/youtube_music/favorsinger').set(singerList)
					  db.ref(db_ref_path+userId+'/youtube_music').update({"videourl":"https://www.youtube.com/watch?v=ceKX_7lnSy0&t=6s"})
					  db.ref(db_ref_path+userId+'/translate').update({"lang":"en"})
					  db.ref(db_ref_path+userId+'/camera').update({"camera_ID":""})
					  db.ref(db_ref_path+userId+'/camera').update({"camera_URL":""})					  
				    }				                     
                 });  
                 //檢查用戶資料庫欄位LineNotify是否有值                 
                 //redirect_lineNotify() 
                 //window.location.href = host_register              
                 db.ref(db_ref_path+userId+'/profile/LineNotify').once("value", snapshot => {
                    if (snapshot.exists()){						  
						if (snapshot.val() == ''){
							alert("設定 LineNotify 報到通知!")														
							redirect_lineNotify() // 登入到 LineNotify 連動設定							
						}
						else {
							//alert("linenotify has value")	
							window.location.href = host_register	//導入到註冊網頁					
						}
					}								
					  
                 }); 		
		       } 
		
		 function redirect_lineNotify(){ // line Notify 連動設定
			 var client_id = 'RsTuQZObEzJHPBU59HKhCI'; // channel ID
             var redirect_uri = host + '/register';
             var link = 'https://notify-bot.line.me/oauth/authorize?';
             link += 'response_type=code';
             link += '&client_id=' + client_id;
             link += '&redirect_uri=' + redirect_uri; //登入成功後導入的頁面
             link += '&scope=notify';
             link += '&state='+userId;               
             window.location.href = link;			 
		 }
		
		 function initializeLiff(myLiffId){
            liff
                .init({
                    liffId: myLiffId
                })
                .then(() => {                   
                    initializeApp(); //取得LIFF各種物件及屬性
                })
                .catch((err) => {
                    document.getElementById("liffAppContent").classList.add('hidden');
                    document.getElementById("liffInitErrorMessage").classList.remove('hidden');
                });
        }
        
        function initializeApp(){
			if (!liff.isLoggedIn()) { // 如果Line用戶沒有登入，就必須事先登入
        
				liff.login();
            }        
			const context = liff.getContext(); //取得使用者類型資料
			//$('input[name="userId"]').val(context.userId); //設定表單欄位值
			const accessToken = liff.getAccessToken(); //取得用戶access token	
			userId = context.userId; //取得用戶 userId
			//console.log(userId)						 
       }                            
            
        </script>
    </body>
    </html>
